body {
    background-color: #bfc0c2;
}

.list-container {
    width: 100%;
    height: auto;
    margin-top: 3rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}